@charset "UTF-8";

body {
  background: #c8c7c7;
}
div#Head {
    background: #4681e8;
    padding: 20px;
    border-color: #ffffff;
    border-style: solid;
}
header h2#mainName {
  font-size: 26px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
  background: #4681e8;
  padding: 30px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
header p {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  position: absolute;
  top: 100px;
  left: 42%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
header img#minhaFoto {
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 530px;
}
li {
  list-style-type: none;
  width: block;
}
li a {
  position: relative;
  float: left;
  color: white;
  border-radius: 20%;
  padding: 7px;
  background: rgb(15, 70, 135);
  text-decoration: none;
  left: 465px;
  top: -15px;
}

div#Content {
  border-color: #ffffff;
  border-style: solid;
  background: #4681e8;
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
div#Content p {
  font-size: 12px;
}
div#Content p#pgp {
  display: block;
  position: absolute;
  padding-left: 800px;
  top: 350px;
}
span#bold {
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
div#projetos {
    padding-right: 300px;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-width: thick;
}

footer {
  background: #4681e8;
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
  border-color: #ffffff;
  border-style: solid;
}
footer h4 {
  font-size: 14px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
  left: 40%;
  position: absolute;
}
footer h5 {
  font-size: 11px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  left: 40%;
  position: absolute;
}
ul#footLink {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
