@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  padding: 0;
  margin: 0;
}

body{
  background-color: #464444;
  font-family: 'Quicksand', monospace;
  text-align: center;
}

/* Social media */
.social {
  display: block;
  position: fixed;
  padding-left: 5px;
  top: 35%;
}

.social ul {
  list-style: none;
  background-color: rgba(0,0,0,0.5);
}

.social a {
  color: #aaaaaa;
}

.social li {
  color: #aaaaaa;
  padding: 5px 5px;
  margin: 10px 10px;
}

.social span {
  font-size: 36px;
}
/* Upper image and texts */
.top {
  background-image: url('../image/back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  min-width: 100vh;
}

.wrap-top {
  background-color: rgba(110, 112, 98, 0.8);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 3%;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  width: 50%;
  margin: 0 auto;
}

.top h1 {
  font-size: 32px;
  font-weight: 900;
}

.top h3 {
  font-size: 22px;
  font-weight: 600;
}

/* projects */

.projects {
  width: 75%;
  margin: 0 auto;
  padding: 50px 10px;
  background-color: #aaaaaa;
  border-bottom: 1px solid #000;
}

.projects h2 {
  padding: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.projects li {
  text-decoration: none;
  list-style-type: none;
  border: 2px solid #686363;
  padding: 30px;
  margin: 30px 10%;
}

.projects button {
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 25px;
  color: #686363;
  font-weight: bold;
}

/* about me */

.about {
  background-color: #aaaaaa;
  width: 75%;
  margin: 0 auto;
  padding: 50px 10px;
}

.about form {
  padding: 30px;
}
.about form li {
  margin: 15px;
  list-style-type: none;
}

li input {
  margin: 0 30px;
  width: 150px;
}