@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* DEFAULT PAGE CONFIG, COLOR, FONTS AND LINKS*/
div#pageDefaults {
  background: white;
}

.texto {
  color: white;
  font-family: 'Quicksand', monospace;
  text-align: center;
}

a {
  color: #a1a1a1;
  text-decoration: none;
}
/* HEADER: NAME + LINKS */
header {
  font-family: 'Quicksand';
  font-size: 30px;
  background: black;
  padding: 1%;
}
/* HEAD CONTENT */
 div#headContent {
   padding-top: 300px;
   background-image: url("../image/back1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 710px;
 }
 .headText {
   color: white;
   background-color: black;
   padding: 10px;
   border-radius: 4%;
   opacity: .7;
   width: 30%;
   margin-right: auto;
   margin-left: auto;
   font-family: 'Quicksand', monospace;
   text-align: center;
 }
  h1 {
  font-size: 40px;
}
  p {
  font-size: 18px;
}

/* ABOUT ME - AFTER THE HEAD PART */
div#back2 {
  height: 50%;
  padding-top: 10%;
  background: url("../image/back2.jpg");
  background-size: cover;
}

.minhaFoto {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}
.aboutMeP {
  color: white;
  background-color: black;
  border-radius: 4%;
  opacity: .7;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Quicksand', monospace;
  text-align: center;
}

.projeto {
  height: 400px !important;
  width: 400px !important;
  text-align: center;
  margin: 20px;
}

div#footer {
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}
footer h4 {
  font-size: 12px;
}
